.catalog {
    font-size: 70px;
    margin-top: 80px;
    text-align: center;
    color: rgb(1, 147, 16);
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.loading {
    text-align: center;
    margin: auto;
    font-size: 70px;
    width: 50%;
    padding: 10px;
    color: rgb(213, 213, 213);
}

.no-articles {
    text-align: center;
    margin: auto;
    font-size: 70px;
    width: 50%;
    padding: 10px;
    color: rgb(213, 213, 213);
}

.navigate {
    text-align: center;
    margin: auto;
    font-size: 30px;
    width: 50%;
    padding: 10px;
    color: rgb(213, 213, 213);
}